!!!
%html
  %head
    %title Plant
    %script{type: "text/javascript", src: "scripts/paper-full.js"}
    %script{type: "text/paperscript", canvas: "Garden", src: "scripts/aGarden.js"}
      
  %body
    Welcome to Plant!
    %canvas#Garden{resize: "true"}
    